body{
    margin: 0;
    background: #0e0e0e;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-areas: 
                "leftbar menu menu menu"
                "leftbar main main main"
                "leftbar footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 25px 30px;
    position: relative;

}
img{
    width: 100%;
    height: auto;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body > *, main > *{
    background: #202020;
    padding: 30px 30px 30px 100px;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}
header{
    padding: 0 30px 0 100px;
    max-height: 100px;
    grid-area: menu;
}
.menu-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 0.75fr 1fr 1.1fr 1.25fr 0.9fr 1fr 1fr auto;
}
.menu-list li{
    display: inline-block;
    padding: 40px 20px;
    text-align: center;
    transition: all .1s;
    height: fit-content;
    width: 100%;
}
#menu{
    padding: 38px 20px;
    display: none;
}
.menu-list li:nth-child(8), .menu-list li:nth-child(9){
    cursor: pointer;
}
.menu-list li:hover{
    background-color: #2d2d2d;
}
.menu-list li.active{
    padding: 55px 20px;
    margin: -15px 0;
    background-color: #2095f2;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}
.menu-list a:link, .menu-list a:visited, .menu-list a:hover, .menu-list a:active{
    text-decoration: none;
    color: #fbfbfb;
    font-weight: 400;
    font-size: 16px;
}


#slider{
    grid-area: slider;
    position: relative;
    display: block;
    padding: 120px 30px 120px 100px;
    min-height: 500px;
}
.slider-container{
    position: relative;
    overflow-y: hidden;
    padding-right: 30px;
}
.slider{
    transition: .3s;
    transform: translateY(0);
}
.slider-item{
    width: 100%;
    transform: scale(0.9);
    opacity: 0.2;
    transition: .3s;
}
.slider-item.active{
    transform: scale(1);
    opacity: 1;
}
.slider-item:before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
.slider-item-container{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    padding: 20px 100px 20px 0;
}
.slider-item-container > *{
    margin: 0 auto;
}
.slider-item-container h2{
    color: #fbfbfb;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}
.slider-item-text{
    color: #fbfbfb;
    font-weight: 300;
    font-size: 20px;
    line-height: 200%;
}
.slider-item-text span{
    font-size: 40px;
}
#slider-navs{
    position: absolute;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-wrap: nowrap;
    right: 0;
    top: 0;
    height: 100%;
    width: 30px;
    padding: 2.5% 0;
}
#slider-navs li{
    display: block;
    position: relative;
    width: 6px;
    height: 6px;
    margin: 10px 0;
    background: #393939;
    transition: all .2s;
}
#slider-navs li.active{
    transform: scale(1.5, 1.5);
    background: #2095f2;
}
#slider-navs li:before{
    width: 20px;
    height: 20px;
    position: absolute;
    right: -7px;
    top: -7px;
    content: "";
    display: block;
    z-index: 3;
}


aside{
    grid-area: leftbar;
    height: calc(100vh - 50px);
    position: fixed;
    width: calc((100% - 30px) * 0.25 - 30px);
    padding: 0;
}
.profile-pic{
    padding: 30px 30px 0 30px;
}
.profile-pic-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.profile-pic img{
    max-height: 270px;
    height: 100%;
}
.profile-wrapper{
    position: relative;
}
.user-desc{
    text-align: center;
    background: #2c2c2c;
    padding: 20px 0;
    margin: -4px -30px 0 -30px;
    position: relative;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}
.user-desc h1{
    font-family: 'Shantell Sans', cursive;
    color: #fbfbfb;
    font-weight: 600;
    font-size: 35px;
    margin: 10px 0;
}
.user-desc h2{
    font-size: 16px;
    font-weight: 400;
    color: #686868;
    margin: 10px 0;
}
.user-desc em{
    color: #2095f2;
    font-style: normal;
}

.social{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "DS TG VK WA";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 25%;
    border-bottom: solid #393939 1px; 
}
.social g{
    transition: all .3s;
}
.social svg:hover > g{
    fill: #2095f2;
}
main{
    display: grid;
    grid-template-areas: 
            "slider"
            "about-me"
            "education"
            "specialization"
            "experience"
            "portfolio"
            "contacts";
    grid-area: main;
    grid-gap: 30px;
    padding: 0;
    background: transparent;
    box-shadow: none;
}
footer{
    grid-area: footer;
}












/* Кастом */
section{
    position: relative;
}
.right-part{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px;
}
.right-part img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: #393939;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}
.separator{
    width: 2px;
    height: 100%;
    background: #2b2b2b;
}
.view-portfolio-btn{
    position: relative;
}
.view-portfolio-btn button{
    background: #2095f2;
    color: #fbfbfb;
    padding: 25px 60px;
    text-align: center;
    font-size: 20px;
    border: none;
    margin: 30px 0 0 0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}
.view-portfolio-btn button svg{
    position: relative;
    top: 5px;
    margin-right: 8px;
}
.leave-msg{
    position: absolute;
    left: -4%;
    top: 15%;
}
.leave-msg button{
    background: #ee534f;
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    border: none;
}
section h2 > svg{
    position: relative;
    top: 8px;
    fill: #2095f2;
    margin-right: 10px;
    width: 25px;
    height: 40px;
}
section h2{
    color: #fbfbfb;
    font-size: 30px;
    font-weight: 800;
}
#slider form{
    z-index: 3;
}
section::before{
    display: inline;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: #fbfbfb;
    opacity: 0.05;
    top: 22.5px;
    left: 50px;
}
#about-me::before{
    content: "Обо мне";
}
#education::before{
    content: "Образование";
}
#specialization::before{
    content: "Специализация";
}
#experience::before{
    content: "Опыт";
}
#portfolio::before{
    content: "Портфолио";
}
#contacts::before{
    content: "Контакты";
}
.short-desc{
    padding: 30px 40px;
    color: #707070;
    line-height: 150%;
}
.short-desc h3{
    color: #fbfbfb;
    font-size: 20px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}