
/* Fonts import */
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova';
    src: url('../fonts/proximanova_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/static/Nunito-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Fonts import */

/* GENERAL */
:root{
    --blue: #3698d9;
    --text-color-dark: #292a2f;
    --text-color-light: #ffffff;
    --text-color-gray: #767676;
    --bg-gray: #f5f5f5;
    --bg-white: #ffffff;
}

*{
    font-family: 'Nunito', sans-serif;
    color: var(--text-color-dark);
    font-weight: 400;
}
html{
    scroll-behavior: smooth;
}
body{
    margin-top: 56px;
    background-color: var(--bg-gray);
}
p, li{
    font-size: 1.1rem;
}

section{
    background-color: var(--bg-gray);
}

section:nth-child(2n){
    background-color: var(--bg-white);
}
.color-root-gray{
    color: var(--text-color-gray);
}

/* GENERAL */

/* HEAD */
header{
    background: rgba(242, 242, 242, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); /* Размытие фона под маской */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 999;
    border-bottom: solid #e9e9e9 1px;
}

.nav-link{
    color: var(--text-color-dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
}

.mask {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto -15px;
}
/* HEAD */

/* SMART BRACELET */
.smart-bracelet{
    padding: 5rem 0 20rem 0;
}

.headers *{
    color: var(--text-color-dark);
}
.headers h1{
    font-family: 'ProximaNova', sans-serif;
    font-weight: 300;
    letter-spacing: -2px;
}

.headers h2{
    font-family: 'ProximaNova', sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: -1px;
}

.headers h3{
    font-family: 'ProximaNova', sans-serif;
    color: var(--blue);
    letter-spacing: -1px;
    font-size: 2rem;
}

.headers h3 span{
    color: inherit;
    font-weight: 300;
}

.headers p{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    margin: 10% 0 0 0;
    line-height: 20px;
}

.watch-button{
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    border-radius: 20px;
    margin: 4% 0 0 0;
    background-color: var(--blue);
    border: none;
}

.watch-button > span{
    display: inline;
    margin: 0 10px;
    color: var(--text-color-light);
}
/* SMART BRACELET */

/* WHY US */
.why-us{
    padding: 2rem 0 5rem 0;
    position: relative;
}

.icons-addon-wrapper{
    position: absolute;
    background-color: #fff;
    border-radius: 50% 50% 0 0;
    top: -113px;
}

.icons-addon{
    margin: 0;
    justify-content: space-evenly;
}

.icons-addon li{
    --top-affix: -50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    position: relative;
    font-weight: 300;
    top: var(--top-affix);
}

.icons-addon li p{
    margin: 0;
    position: absolute;
    bottom: -40px;
    text-align: center;
    white-space: nowrap;
}

.icons-addon li:nth-child(1), .icons-addon li:nth-child(4){
    top: calc( var(--top-affix) * 0.75 );
}

.icons-addon li .icon-wrapper{
    background: #ffffff;
    box-shadow: 0 0 20px -10px #292a2f;
    border-radius: 50%;
    aspect-ratio: 1/1;
    padding: 1.5rem;
}

.why-us h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.ticket-list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.ticket h4{
    margin-bottom: .3rem;
}

.ticket p{
    letter-spacing: -1px;
}

.why-us .watch-button span{
    padding: 0 20px;
}
/* WHY US */

/* PHYSICAL ACTIVITY */
.physical-activity{
    padding: 3rem 0;
}
.physical-activity h2{
    text-align: center;
}

.physical-activity p{
    margin: 0;
}
/* PHYSICAL ACTIVITY */

/* BRACELET FUNCTIONS */
.bracelet-functions{
    padding: 8rem 0;
}

.function-list{
    gap: 8rem;
}

.function-list .media:nth-child(2n){
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}


.function-list .media:nth-child(1) .media-body{
    padding-bottom: 5rem;
}
/* BRACELET FUNCTIONS */

/* MI FIT APP */
.mi-fit-app{
    padding: 3rem 0;
}

.mi-fit-app h1{
    margin-bottom: 3rem;
}

.app-icon img{
    padding-bottom: 20%;
}

.download-button-container{
    padding-left: 30px;
    gap: 15%;
    margin-top: 5%;
}

.download-button-container button{
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: transparent;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    outline: none;
}


@keyframes screensanim{
    0% {
        transform: translateX(903.5px);
    }
    100% {
        transform: translateX(-903.5px);
    }
}
.phone-screens{
    margin-top: 6rem;
}
.screens-carousel-container{
    background-image: url(../img/12.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 870px;
}
.screens-carousel{
    -ms-flex-pack: distribute;
        justify-content: space-evenly;
    gap: 2.5rem;
    transition: all .3s;
    /* transform: translateX(903px); */
    animation: screensanim 20s linear 0s infinite;
}

.screens-carousel img{
    width: 571px;
}

.screens-carousel img:not(.active){
    -webkit-box-shadow: 0 -10px 20px 2px #a1a1a1;
            box-shadow: 0 -10px 20px 2px #a1a1a1;
}
/* MI FIT APP */

/* BUY BRACELET */
.buy-bracelet{
    padding: 5rem 0;
}

.buy-bracelet h5{
    font-size: 2.5rem;
    padding-bottom: 3.5rem;
}

.buy-bracelet-details{
    gap: 1rem;
}

.buy-bracelet-desc-container{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
            align-items: flex-start;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-left: 30px;
}

.buy-bracelet-desc-container::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 5px;
    height: 90%;
    background-color: var(--blue);
    border-radius: 6px;
}

.buy-bracelet-desc-container p{
    margin: 0;
}

.buy-bracelet-desc-container h3{
    color: var(--blue);
    font-size: 2rem;
    margin: 0;
}

.set-of-delivery p{
    font-size: 1.75rem;
    margin: 0;
}

.set-of-delivery ul{
    margin: 0;
    padding: 0 0 0 15px;
}
.set-of-delivery ul::marker{
    color: var(--text-color-gray);
}

.order-now p{
    font-size: 1.75rem;
    margin: 0;
}
/* BUY BRACELET */


/* FEEDBACKS */
.feedbacks{
    padding: 2rem 0 1.5rem 0;
}

.feedbacks h4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.feedbacks .text-separator{
    top: 0;
    height: 32px;
}

.carousel-inner{
    margin: 2rem 0 3rem 0;
}

.carousel-indicators{
    margin-bottom: 0;
    position: relative;
    gap: 1rem;
}

.carousel-indicators li{
    --size: 10px;
    width: var(--size);
    height: var(--size);
    background-color: #c6ccd0;
    border-radius: 50%;
    margin: 0;
    pointer-events: all;
    position: relative;
}

.carousel-indicators li::after{
    content: '';
    display: block;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    background: transparent;
    position: absolute;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
}

.carousel-indicators li::before{
    content: none;
}

.carousel-indicators li.active{
    background-color: var(--blue);
}


.carousel-control-prev-icon, .carousel-control-next-icon{
    width: 60px;
    height: 60px;
    margin-top: -12rem;
}
.carousel-control-prev-icon{
    background-image: url(../img/slider-control-left.svg);
}

.carousel-control-next-icon{
    background-image: url(../img/slider-control-right.svg);
}
.carousel-item .row > div{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.user-params-container{
    gap: 2rem;
    margin-bottom: 1.5rem;
}

.user-params::after{
    content: '';
    color: var(--blue);
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
}

.user-params p{
    font-size: 2rem;
    margin: 0;
}
.user-params p span{
    font-size: 1rem;
}

.user-params.before::after{
    content: 'До покупки';
}

.user-params.after::after{
    content: 'После';
}


.user-pd{
    margin-bottom: 1rem;
    gap: 10px;
}

.user-pd::before{
    content: '';
    display: block;
    position: relative;
    /* left: -10px; */
    width: 5px;
    height: 100%;
    border-radius: 20px;
    background: var(--blue);
}


.user-pd p{
    margin: 0;

}
.user-pd p:nth-child(1){
    font-size: 1.5rem;
}

.user-comma{
    line-height: 1.25rem;
}

/* FEEDBACKS */


/* FOOTER */
footer{
    background-color: #000000;
    padding: 3rem 0 8rem 0;
}

.do-order{
    color: var(--text-color-light);
    font-weight: 400;
    font-size: 2.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
}



.do-order span:not(.text-separator){
    color: inherit;
    font-size: 1.15rem;
    font-weight: 300;
    display: inline-block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.text-separator{
    display: block;
    width: 2px;
    height: calc(42px * 0.7);
    /* position: absolute; */
    background: var(--blue);
}

.bonus{
    color: var(--text-color-light);
    font-size: 0.8rem;
    font-weight: 300;
}

footer input[type="text"]{
    padding: 10px calc(30% + 5px + 15px) 10px 30px;
    font-size: 1.1rem;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 100%;
}
footer input[type="text"]::-webkit-input-placeholder{
    color: var(--text-color-gray);
}
footer input[type="text"]::-moz-placeholder{
    color: var(--text-color-gray);
}
footer input[type="text"]:-ms-input-placeholder{
    color: var(--text-color-gray);
}
footer input[type="text"]::-ms-input-placeholder{
    color: var(--text-color-gray);
}
footer input[type="text"]::placeholder{
    color: var(--text-color-gray);
}

footer button[type="submit"]{
    background: var(--blue);
    border: none;
    outline: none;
    padding: 10px 0 10px 0;
    font-size: 1.1rem;
    position: absolute;
    width: 30%;
    left: calc(70% - 15px);
    border-radius: 0 20px 20px 0;
}
footer button[type="submit"] span{
    color: var(--text-color-light);
}

/* FOOTER */



/* MEDIA REQUESTS */
/* xl */
@media (min-width: 1200px) { }

/* lg */
@media (min-width: 992px) and (max-width: 1199.98px) {
    p, li, span{
        font-size: 1rem;
    }

    .smart-bracelet{
        padding-bottom: 15rem;
    }
    .headers h1, .headers h2{
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }
    .headers h3{
        font-size: 1.75rem;
    }
    .headers p{
        margin: 2rem 0 0 0;
        font-size: 0.9rem;
    }

    .icons-addon-wrapper{
        top: -106px;
    }
    .icons-addon li{
        gap: 0.9rem;
    }
    .icons-addon li .icon-wrapper{
        padding: 1.25rem;
    }
    .why-us h2{
        font-size: 2.5rem;
        margin: 2rem 0;
    }
    .ticket h4{
        font-size: 1.25rem;
    }
    .ticket p{
        margin-bottom: .75rem;
    }
    .watch-button{
        margin-top: 1rem;
    }

    .bracelet-functions{
        padding: 5rem 0;
    }
    .function-list{
        gap: 4rem;
    }

    @keyframes screensanim-lg{
        0% {
            transform: translateX(743px);
        }
        100% {
            transform: translateX(-743px);
        }
    }
    .phone-screens{
        margin-top: 2rem;
    }
    .screens-carousel-container{
        height: 696px;
    }
    .screens-carousel{
        animation-name: screensanim-lg;
    }
    .screens-carousel img{
        width: 456.8px;
    }

    .buy-bracelet{
        padding: 3rem 0;
    }
    .buy-bracelet h5{
        font-size: 2rem;
        padding-bottom: 2.75rem;
    }
    .buy-bracelet-desc-container h1{
        font-size: 2rem;
    }
    .buy-bracelet-desc-container h3{
        font-size: 1.75rem;
    }
    .order-now p, .set-of-delivery p{
        font-size: 1.4rem;
    }

    .carousel-control-prev{
        justify-content: flex-start;
    }
    .carousel-control-next{
        justify-content: flex-end;
    }

    footer{
        padding-bottom: 5rem;
    }
}

/* md */
@media (min-width: 768px) and (max-width: 991.98px) {
    p, li, span{
        font-size: .85rem;
    }

    .smart-bracelet{
        padding-bottom: 15rem;
    }
    .headers h1, .headers h2{
        font-size: 1.75rem;
        margin-bottom: .1rem;
    }
    .headers h3{
        font-size: 1.5rem;
    }
    .headers p{
        margin: 1.5rem 0 0 0;
        font-size: .75rem;
    }

    .icons-addon-wrapper{
        top: -98px;
    }
    .icons-addon li{
        gap: 0.8rem;
    }
    .icons-addon li .icon-wrapper{
        padding: 1rem;
    }
    .why-us{
        padding-top: 1rem;
    }
    .why-us h2{
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    .ticket h4{
        font-size: 1rem;
    }
    .ticket p{
        margin-bottom: .5rem;
        font-size: 0.9rem;
    }
    .watch-button{
        margin-top: .75rem;
    }

    .bracelet-functions{
        padding: 3rem 0;
    }
    .function-list{
        gap: 3rem;
    }

    @keyframes screensanim-md{
        0% {
            transform: translateX(582px);
        }
        100% {
            transform: translateX(-582px);
        }
    }
    .phone-screens{
        margin-top: 1.5rem;
    }
    .screens-carousel-container{
        height: 522px;
    }
    .screens-carousel{
        animation-name: screensanim-md;
    }
    .screens-carousel img{
        width: 342.6px;
    }

    .buy-bracelet{
        padding: 2.5rem 0;
    }
    .buy-bracelet h5{
        font-size: 1.75rem;
        padding-bottom: 2.5rem;
    }
    .buy-bracelet-desc-container h1{
        font-size: 1.5rem;
    }
    .buy-bracelet-desc-container h3{
        font-size: 1.25rem;
    }
    .order-now p, .set-of-delivery p{
        font-size: 1.2rem;
    }

    .user-comma{
        line-height: inherit;
    }

    .carousel-control-prev{
        justify-content: flex-start;
    }
    .carousel-control-next{
        justify-content: flex-end;
    }

    footer{
        padding-bottom: 4rem;
    }
}

/* sm */
@media (min-width: 576px) and (max-width: 767.98px) {
    p, li, span{
        font-size: .9rem;
    }

    .smart-bracelet{
        padding-bottom: 15rem;
    }
    .headers h1, .headers h2{
        font-size: 1.75rem;
        margin-bottom: .1rem;
    }
    .headers h3{
        font-size: 1.5rem;
    }
    .headers p{
        margin: 1.5rem 0 0 0;
        font-size: .75rem;
    }

    .icons-addon-wrapper{
        top: -98px;
    }
    .icons-addon li{
        gap: 0.8rem;
    }
    .icons-addon li .icon-wrapper{
        padding: 1rem;
    }
    .why-us{
        padding-top: 1rem;
    }
    .why-us h2{
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    .ticket h4{
        font-size: 1.2rem;
    }
    .ticket p{
        margin-bottom: .5rem;
        font-size: 0.9rem;
    }
    .watch-button{
        margin-top: .75rem;
    }

    .bracelet-functions{
        padding: 3rem 0;
    }
    .function-list{
        gap: 3rem;
    }
    .function-list .media:nth-child(1) .media-body {
        padding-bottom: 0;
    }

    .download-button-container{
        padding-left: 0;
        gap: 0;
    }
    .download-button-container button{
        margin: 0 auto;
    }
    @keyframes screensanim-md{
        0% {
            transform: translateX(582px);
        }
        100% {
            transform: translateX(-582px);
        }
    }
    .phone-screens{
        margin-top: 1.5rem;
    }
    .screens-carousel-container{
        height: 522px;
    }
    .screens-carousel{
        animation-name: screensanim-md;
    }
    .screens-carousel img{
        width: 342.6px;
    }

    .buy-bracelet{
        padding: 2.5rem 0;
    }
    .buy-bracelet h5{
        font-size: 1.75rem;
        padding-bottom: 2.5rem;
    }

    .user-comma{
        line-height: inherit;
    }

    .carousel-control-prev{
        justify-content: flex-start;
    }
    .carousel-control-next{
        justify-content: flex-end;
    }

    footer{
        padding-bottom: 4rem;
    }

    .icons-addon-wrapper{
        top: -91px;
    }
    .icons-addon{
        gap: 2rem;
    }
    .icons-addon li{
        --top-affix: -50%
    }
    .icons-addon li:nth-child(1), .icons-addon li:nth-child(4){
        top: calc( var(--top-affix) * 0.5 );
    }
    .icons-addon li .icon-wrapper{
        padding: .8rem;
    }
    .icons-addon li p{
        font-size: .9rem;
    }
}

/* xs */
@media (max-width: 575.98px) {
    p, li, span{
        font-size: 0.9rem
    }
    .smart-bracelet{
        padding: 1rem 0 2rem 0;
    }
    .headers h1, .headers h2{
        font-size: 2rem;
    }
    .headers h3, .headers h3 span{
        font-size: 1.5rem;
    }
    .headers p{
        margin-top: 2rem;
    }

    .why-us{
        padding: 1rem 0 2rem 0;
    }
    .why-us img{
        max-height: 350px;
    }
    .why-us h2{
        font-size: 2rem;
        margin: 1.5rem 0;
    }
    .ticket h4{
        font-size: 1.25rem;
    }
    .ticket p{
        margin-bottom: .5rem;
        font-size: 1rem;
    }
    .watch-button{
        margin-top: .75rem;
    }

    .physical-activity{
        padding: 2rem 0;
    }
    .physical-activity h2{
        font-size: 1.5rem;
    }
    .physical-activity p{
        font-size: 1rem;
    }

    .media{
        gap: 1rem;
    }

    .bracelet-functions{
        padding: 4rem 0 2rem;
    }
    .bracelet-functions h2{
        font-size: 1.5rem;
    }
    .bracelet-functions p{
        font-size: 1rem;
    }
    .function-list {
        gap: 2rem;
    }
    .function-list .media:nth-child(1) .media-body {
        padding-bottom: 0;
    }

    .mi-fit-app{
        padding: 2rem 0;
    }
    .mi-fit-app h1{
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .app-icon img{
        padding-bottom: 2rem;
    }
    .download-button-container{
        padding: 0;
        gap: 1rem;
    }
    .download-button-container button{
        margin: 0 auto;
    }

    @keyframes screensanim-xs{
        0% {
            transform: translateX(432.5px);
        }
        100% {
            transform: translateX(-432.5px);
        }
    }
    .phone-screens{
        margin-top: 2rem;
    }
    .screens-carousel-container{
        height: 360px;
    }
    .screens-carousel{
        animation-name: screensanim-xs;
    }
    .screens-carousel img{
        width: 236.267px;
    }

    .buy-bracelet{
        padding: 2rem;
    }
    .buy-bracelet h5{
        font-size: 1.9rem;
        padding-bottom: 2.5rem;
    }
    .buy-bracelet-desc-container h1{
        font-size: 1.5rem;
    }
    .buy-bracelet-desc-container h3{
        font-size: 1.2rem;
    }
    .set-of-delivery p, .order-now p{
        font-size: 1.2rem;
    }

    footer{
        padding: 3rem 0 2rem 0;
    }
    .do-order{
        font-size: 1.4rem;
        gap: 10px;
    }
    .do-order span:not(.text-separator){
        font-size: 1rem;
    }
    footer input[type="text"], footer button[type="submit"]{
        height: 45px;
    }
    footer input[type="text"]{
        padding: 10px calc(20% + 20px) 10px 20px;
    }
    footer button[type="submit"]{
        /* padding: 8px 0 2px 0; */
        display: flex;
        top: 0;
        justify-content: center;
        align-items: center;
        width: 20%;
        left: calc(80% - 14.5px);
    }
}