body{
    background-image: url(../img/black-triangles.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: scroll;
}
.header{
    background-image: url(../img/header.png);
    background-size: cover;
    background-position: scroll;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 863px;
    padding-left: 25%;
    padding-right: 25%;
}
.header-text{
    font-family: 'Exo', sans-serif;
    font-weight: 100;
    font-size: 60px;
    padding-top: 20%;
    text-align: center;
}
.play{
    align-content: center;
    width: 59px;
    height: 59px;
    background-image: url(../img/play.png);
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 5%;
}
.header_button{
    height: 50px;
    width: 90px;
    background: #ff6d6d;
    border-radius: 5px;
    margin-top: 6%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    margin-left: 33.9%; 
}
.white-text{
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.small-text{
    color: #767779;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-top: 7%;
    margin-top: 6px;
    padding-top: 0px;
}
.small-text2{
    color: #767779;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 6px;
}
.text{
    margin-top: 40px;
}
.red_gray{
    background-image: url(../img/red_gray.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 764px;
}
.first_content{
    padding-left: 8%;
    padding-top: 10%;
    background: #ffffff;
    height: 764px;
}
.new_design{
    color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0px;
}
.dark_text{
    color: #282828;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: medium;
}
.dark_text2{
    color: #ff6d6d;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: medium;
}
.content2{
    background-image: url(../img/BG.png);
    background-size: cover cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 11%;
    padding-right: 11%;
}
.red_text{
    color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 15%; 
}
.dark_text3{
    color: #282828;
    font-size: 40px;
    font-family: 'Exo', sans-serif;
    font-weight: medium;
    text-align: center;
}
.img1{
    width: 67px;
    height: 67px;
    background-image: url(../img/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.img{
    margin-top: 90px;
    margin-left: 5.5%;
    margin-bottom: 5.5%;
}
.SOF{
    color: #282828;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    text-align: center;
}
.SOF2{
    color: #282828;
    font-size: 25px;
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    text-align: center;
}
.img2{
    width: 67px;
    height: 67px;
    background-image: url(../img/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.img3{
    width: 67px;
    height: 67px;
    background-image: url(../img/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
}
.img1, .img2, .img3{
    margin-bottom: 15px;
}
.s1{
    background-image: url(../img/4.png);
    background-repeat: no-repeat;
    background-size: inherit;
    height: 587px;
    padding-top: 8%;
    padding-left: 6%;
    background-color: #ffffff;
}
.mk{
    width: 627px;
    height: 367px;
    background-image: url(../img/macbook.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.clients{
    background-image: url(../img/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8%;
    padding-left: 11%;
    padding-right: 11%;
}
.square{
    width: 100px;
    height: 100px;
    background: #4e4e5e;
    border: solid #1d1e24 2px;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
}
.client{
    margin-left: 7.5%;
}
.white-text2{
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 21px;
    margin-top: 2%;
    font-weight: 400;
    text-align: center;
}
.red-text2{
    color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 1.8%; 
}
.red-text3{
    color: #ff6d6d;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    padding-top: 5%; 
}
.small-text3{
    color: #767779;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 6px;
    font-style: italic;
    text-align: center;
}
.partners{
    margin-bottom: 5.5%;
}
.partner1{
    width: 120px;
    height: 100px;
    background-image: url(../img/hits.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6%;
    float: left;
}
.partner2{
    width: 120px;
    height: 100px;
    background-image: url(../img/prevor.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6%;
    float: left;
}
.partner3{
    width: 120px;
    height: 100px;
    background-image: url(../img/shar.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6%;
    float: left;
}
.partner4{
    width: 120px;
    height: 100px;
    background-image: url(../img/igor.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6%;
    float: left;
}
.partner5{
    width: 120px;
    height: 100px;
    background-image: url(../img/sienn.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 6%;
    float: left;
}
.partner2 , .partner3 , .partner4 , .partner5{
    margin-left: 11%;
}
.browser{
    background-image: url(../img/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 754px;
}
.center{
    text-align: center;
    margin-top: 4%;
    margin-left: 25%;
}
.TryNow{
    background: #323969;
    height: 466px;
    padding-left: 7%;
    padding-right: 7%;
}
.white-text3{
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-top: 2%;
    font-weight: 400;
    text-align: center;
}
.i2{
    background: #464c77;
    height: 50px;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    border: none;
    padding-left: 30px;
    font-size: 18px;
    margin-left: 2%;
    border-radius: 2px;
}
.i3{
    background: #ff6d6d;
    height: 50px;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    border: none;
    font-size: 18px;
    margin-left: 2%;
    text-align: center;
    border-radius: 2px;
    box-shadow: 0px 3px 0px #0000003b;
}
.i1{
    background: #464c77;
    height: 50px;
    font-family: 'Exo', sans-serif;
    color: #ffffff;
    border: none;
    padding-left: 30px;
    font-size: 18px;
    border-radius: 2px;
}
.f1{
    margin-top: 6%;
}
.small-text4{
    color: #a8a8a8;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center
}
.a1{
    color: #a8a8a8;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}
.a1:hover{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}
.a1:active{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}
.a1:focus{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: underline;
}
.a2{
    color: #a8a8a8;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
}
.a2:hover{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
}
.a2:active{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
}
.a2:focus{
    color: #cfcfcf;
    font-family: 'Exo', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 10%;
    text-align: center;
    text-decoration: none;
}
.footer{
    padding: 6%;
    height: 300px;
    background-color: #ffffff;
    background-image: url(../img/7.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;

}
    ::-webkit-input-placeholder {color:#ffffff; opacity:1; font-size: 18px;}/* webkit */
    ::-moz-placeholder          {color:#ffffff; opacity:1; font-size: 18px;}/* Firefox 19+ */
    :-moz-placeholder           {color:#ffffff; opacity:1; font-size: 18px;}/* Firefox 18- */
    :-ms-input-placeholder      {color:#ffffff; opacity:1; font-size: 18px;}/* IE */
.startex{
    background-image: url(../img/startex.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    height: 47px;
    width: 103px;
    margin-left: auto;
    margin-right: auto;
}
.i4{
    background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size: contain cover;
    padding-left: 30px;
    height: 50px;
    color:#949494;
    border-radius: 5px 0px 0px 5px;
    border: none;   
}
.i5{
    width: 50px;
    background-color: #ff6d6d;
    background-image: url(../img/air.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 0px #0000003b;
    position: relative;
    right: 4px;
}
.copyright{
    font-size: 20px;
    color: #000000;
    font-family: 'Exo', sans-serif;
    background: #c7c7c7;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
